<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    
    <script type="text/javascript" src="/lib/jquery-1.6.1.min.js"></script> 
    <script type="text/javascript" src="/nowjs/now.js"></script>
    
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- body %>
</body>
</html>